  <div style="text-align: center; font-size: small; margin-top: 1em;">
    <p>
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" style="border-width:0"
             src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
      </a>
      &nbsp;&nbsp;
      Este material está disponível sob
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        Licença Creative Commons Atribuição-CompartilhaIgual 4.0 Internacional (CC BY-SA 4.0)
      </a>
    </p>
  </div>